* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.row {
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

/* COLONNE */
.col-50 {
    width:calc(100% / 2 - 20px);
    margin:10px;
}



/* HEADER!!!!!  */
header {
    background-color: blue;
}

ul {
    list-style-type:none;
}

li {
    display:inline-block;
}

header .container {
    width:100%;
}

header .content {
    background-color:aqua;
    border:1px solid black;
    height:50px;
    width:100%;
}

header .query-desk {
    display:none
}


/* MEDIA-QUERY!!!!!! TABLET */
@media screen and (min-width:480px) {

    /* HEADER */

}

/* MEDIA-QUERY!!!!!! DESKTOP */
@media screen and (min-width:768px) {

    /* HEADER */
    header .query-desk {
        display:block
    }
}