* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.violet {
    background-color:#9792e4;
}

.row {
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

.container {
    max-width:100%;
    margin:0 auto;
}

ul {
    list-style-type:none;
}

li {
    display:inline-block;
}

/* COLONNE */
.col-50-head {
    width:calc(100% / 2 - 20px);
    margin:10px;
}

.col-50 {
    width:100%;
    margin:10px;
}

.col-66 {
    width:calc(100% - 20px);
    margin:10px;
}

.col-33 {
    width:calc(100% - 20px);
    margin:10px;
}


/* HEADER!!!!!  */
header {
    background-color: blue;
}

header .content {
    background-color:aqua;
    border:1px solid black;
    height:50px;
    width:100%;
}

header .query-desk {
    display:none
}

/* JUMBOTRON */
main .jumbotron .content {
    background-color:blueviolet;
    border:1px solid black;
    height:200px;
    width:100%;
}

/* STRATEGIC */
main .strategic .content {
    background-color:rgb(67, 123, 151);
    border:1px solid black;
    height:200px;
    width:100%;
}


/* MEDIA-QUERY!!!!!! TABLET */
@media screen and (min-width:480px) {

    .col-66 {
        width:calc((100% / 3) * 2 - 20px);
        margin:10px;
    }
    
    .col-33 {
        width:calc(100% / 3 - 20px);
        margin:10px;
    }  

    /* HEADER */

    /* JUMBOTRON */


}

/* MEDIA-QUERY!!!!!! DESKTOP */
@media screen and (min-width:768px) {

    .container {
        max-width:1200px;
    }

    .col-50 {
        width:calc(100% / 2 - 20px);
        margin:10px;
    }

    /* HEADER */
    header .query-desk {
        display:block
    }
}